@import 'tailwindcss';

@theme {
  --color-primary: #2563eb;
  --color-secondary: #f8fafc;
  --color-accent: #f59e0b;
  --color-success: #22c55e;
  --color-danger: #ef4444;
}

body {
  @apply bg-secondary text-slate-800 antialiased;
}
